 <!-- Header -->
    <header>
        <div class="container">
            <section>
                <h3>Welcome to All In One Fitness- a one stop shop for your nutritional info/workout plan!</h3>
                <p class="text-primary"> The app features different meal examples and workout plans that fit YOUR schedule and equipment avialability! Simply create a login, </p>
                <a href="/calculators/nutrition" class="page-scroll btn btn-default">Create Nutritional Plan</a>
                <a href="/calculators/workout" class="page-scroll btn btn-default">Create Workout Plan</a>
             </section>
        </div>
    </header>