<div class="container">
            <section>

                  <h1>Fill out the form below to calculate your basic metabolic rate.</h1>

                <label>Female:
                    <input id="female" type="radio" name="gender" onchange="calsPerDay()">
                </label> <br>
                <label>Male:
                 <input id="male" type="radio" name="gender" onchange="calsPerDay()" checked>
                </label> <br>
                <label>Age:
                 <input id="age" type="number" oninput="calsPerDay()" value="25">years
                </label> <br>
                <label>Height:
                 <input id="height" type="number" oninput="calsPerDay()" value="70">in inches (12 inches=1 foot)
                </label> <br>
                <label>Weight:
                <input id="weight" type="number" oninput="calsPerDay()" value="150">
                in pounds
                </label> <br>
                <label>
                Base metabolic rate: <span id="totalCals"></span> kcal per day
                </label>

                </center>

            </section>
        </div>