<div class="container">
            <section>
            	<p>Fill out the following fields to calculate your basal metabolic rate (BMR)- or how many calories your body burns at rest. In other words, if you're overweight and hardly move throughout the day and are eating WAY more than your BMR- you have an idea of just how much you need to cut down.</p>

            	<input id="age" type="number" maxlength="2"><p>Age</p><br>
            	<input id="height" type="number" maxlength="2"><p> Height- In Inches (12 inches=1 foot)</p>
            	<input id="weight" type="number" maxlength="3"><p> Weight (in pounds)</p><br>
            	<input id="female" type="radio" value="female" ><p>Female</p>
            	<input id="male" type="radio" value="male" ><p>Male</p>
            	<input id="BMR" type="number"><p> kcal per day</p>


            </section>
        </div>