<div class="container">
 <section>
		<h4>Ready to generate your custom workout? Simply click one of the options below based on how much time you can dedicate a week and the equipment you have available- pretty much the key to any fitness regime!</h4>

		<p class="page-scroll btn btn-default" id="threeEquip"> 3x per week, gym/equipment available.
		</p>

		<p class="page-scroll btn btn-default" id ="threeNoEquip"> 3x per week, no equipment available.
		</p>

		<p class="page-scroll btn btn-default" id="fiveEquip"> 2x per week, gym/equipment available
		</p>

		<p class="page-scroll btn btn-default" id ="fiveNoEquip"> 2x per week, no equipment available.
		</p>

		<center><div id="generator">    </div></center>


          

            </section>
        </div>

        <script type="text/template" id="three-gym-routine">

  <div class="three-gym-container">
<table class="table" id="three-gym">
      <tr class="my-row">
        <th>Day of the Week</th>
        <th>Exercise</th>
        <th>Rep Range</th>
      </tr>
      <tr class="my-row">
        <td>Monday- Back/Shoulders</td>
        <td>Deadlift <br> Standing Overhead Press <br> Chin Ups </td>
        <td>  (1x8, 2x5, 2x3, 2x2, 1x1, longer rest periods between sets)<br> (5x6 reps) <br> (3x6 reps) </td>
      </tr>
      <tr class="my-row">
        <td>Tuesday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Wednesday- Push Day</td>
        <td>Bench Press <br> Dips <br> Dumbbell Pullover </td>
        <td>  (5x5 reps)<br> (4x8 reps) <br> (3x12 reps) </td> 
      </tr>
      <tr class="my-row">
        <td>Thursday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Friday- Legs</td>
        <td>Back Squat, Front Squat, or Leg Press <br> Lunges <br> Calf Raises </td>
        <td>(5x5 reps) <br> (3x12-reps) <br> (5x20 reps ) </td>
      </tr>
</table>
</div>

  </script>

    <script type="text/template" id="three-no-gym-routine">

  <div class="three-no-gym-container">
<table class="table" id="three-no-gym">
      <tr class="my-row">
        <th>Day of the Week</th>
        <th>Exercise</th>
        <th>Rep Range</th>
      </tr>
      <tr class="my-row">
        <td>Monday- Back/Shoulders</td>
        <td>Deadlift <br> Standing Overhead Press <br> Chin Ups </td>
        <td>  (1x8, 2x5, 2x3, 2x2, 1x1, )<br> (5x6 reps) <br> (3x6 reps) </td>
      </tr>
      <tr class="my-row">
        <td>Tuesday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Wednesday- Push Day</td>
        <td>Bench Press <br> Dips <br> Dumbbell Pullover </td>
        <td>  (5x5 reps)<br> (4x8 reps) <br> (3x12) </td> 
      </tr>
      <tr class="my-row">
        <td>Thursday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Friday- Legs</td>
        <td>Back Squat, Front Squat, or Leg Press <br> Lunges <br> Calf Raises </td>
        <td>(5x5 reps) <br> (3x12 reps) <br> (5x20 reps) </td>
      </tr>
</table>
</div>

  </script>

  <script type="text/template" id="two-gym-routine">

    <div class="two-gym-container">
<table class="table" id="two-gym">
      <tr class="my-row">
        <th>Day of the Week</th>
        <th>Exercise</th>
        <th>Rep Range</th>
      </tr>
      <tr class="my-row">
        <td>Monday- Upper Day</td>
        <td>Benchpress <br> Bent Over Row <br> Standing Overhead Press <br> Chin Ups <br> Bicep Isolation Exercise <br> Tricep Isolation Exercise </td>
        <td>  (4x5 reps)<br> (5x8 reps) <br> (3x6 reps) <br> (3x8 reps) <br> (3x12 reps) <br> (3x12 reps) </td>
      </tr>
      <tr class="my-row">
        <td>Tuesday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Wednesday- Lower Day</td>
        <td>Back Squat/Front Squat/Leg Press <br> Lunges <br> Calf Raises </td>
        <td>  (4x5 reps)<br> (4x8 reps) <br> (5x20 reps) </td> 
      </tr>
      <tr class="my-row">
        <td>Thursday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Friday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
</table>
</div>

  </script>

    <script type="text/template" id="two-no-gym-routine">

    <div class="two-no-gym-container">
<table class="table" id="two-no-gym">
      <tr class="my-row">
        <th>Day of the Week</th>
        <th>Exercise</th>
        <th>Rep Range</th>
      </tr>
      <tr class="my-row">
        <td>Monday- Upper Day</td>
        <td>Incline/Decline Pushups <br> Pike/Handstand Pushups <br> Plyometric Push Ups</td>
        <td>  (4x20 reps) <br> (4x20 reps) <br> (4x10 reps) </td>
      </tr>
      <tr class="my-row">
        <td>Tuesday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Wednesday- Lower Day</td>
        <td>Body Weight Squats <br> Jump Squats <br> Lunges <br> Calf Raises </td>
        <td>  (4x15 reps)<br> (4x10 reps) <br> <br> (3x15 reps) (5x20 reps) </td> 
      </tr>
      <tr class="my-row">
        <td>Thursday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Friday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
</table>
</div>

  </script>