<div class="container">
 <section>
		<h4>Ready to generate your custom workout? Simply click one of the options below based on how much time you can dedicate a week and the equipment you have available- pretty much the key to any fitness regime!</h4>

		<p class="page-scroll btn btn-default" id="threeEquip"> 3x per week, gym/equipment available.
		</p>

		<p class="page-scroll btn btn-default" id ="threeNoEquip"> 3x per week, no equipment available.
		</p>

		<p class="page-scroll btn btn-default" id="fiveEquip"> 2x per week, gym/equipment available
		</p>

		<p class="page-scroll btn btn-default" id ="fiveNoEquip"> 2x per week, no equipment available.
		</p>

		<center><div id="generator">    </div></center>


          

            </section>
        </div>