<div class="three-gym-container">
<table class="table" id="three-gym">
      <tr class="my-row">
        <th>Day of the Week</th>
        <th>Exercise</th>
        <th>Rep Range and Rest Periods</th>
      </tr>
      <tr class="my-row">
        <td>Monday- Back/Shoulders</td>
        <td>Deadlift <br> Standing Overhead Press <br> Chin Ups </td>
        <td>  (1x8, 2x5, 2x3, 2x2, 1x1, with 2-3 minute rest periods [or more] in between)<br> (3-5x3-6 reps) <br> (3x3-6 reps, lower reps if weighted) </td>
      </tr>
      <tr class="my-row">
        <td>Tuesday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Wednesday- Push Day</td>
        <td>Bench Press <br> Dips <br> Dumbbell Pullover </td>
        <td>  (5x5-8)<br> (4x8-12) <br> (3x12) </td> 
      </tr>
      <tr class="my-row">
        <td>Thursday- Off/Cardio</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="my-row">
        <td>Friday- Legs</td>
        <td>Back Squat, Front Squat, or Leg Press <br> Lunges <br> Calf Raises </td>
        <td>(5x5-8) <br> (3x12-16) <br> (5x20-30) </td>
      </tr>
</table>
</div>